Options -Indexes # disable directory listing

<IfModule mod_rewrite.c>
RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# RewriteCond %{HTTPS} !^mccsscvoting\.com$ [NC]
# RewriteRule ^(.*)$ https://mccsscvoting.com/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php [L]


RewriteCond %{THE_REQUEST} ^GET\ /(.+)\.php\ HTTP
RewriteRule ^(.+)\.php$ /$1 [R=301,L]
</IfModule>



<IfModule mod_headers.c>
    Header set X-Frame-Options "DENY"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "no-referrer"
    Header set Permissions-Policy "geolocation=()"
</IfModule>
<IfModule mod_rewrite.c>
	RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
	RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
	RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
	RewriteRule .* index.php [F,L]
</IfModule>